/.idea
/vendor
/data/cache/*
/data/logs/*
!/data/cache/.gitkeep
!/data/logs/.gitkeep
/data/GeoLite2-City.mmdb
/data/GeoLite2-City.mmdb.md5
/data/GeoLite2-Country.mmdb
/data/GeoLite2-Country.mmdb.md5
/data/.geoipupdate.lock
/data/http.pid
/data/redis.pid
/.phpunit.result.cache
